<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56926591867-jflu4284t03egcm11vs17jc7trh5gce3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56926591867-jflu4284t03egcm11vs17jc7trh5gce3</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ7DbaTPySIsjiERg80oCcs9NP6lDq1XI</string>
	<key>GCM_SENDER_ID</key>
	<string>56926591867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zain.Test-Nanameue</string>
	<key>PROJECT_ID</key>
	<string>qrscanner-e7fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>qrscanner-e7fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56926591867:ios:646dda9ccaa97dfe6dbbde</string>
	<key>DATABASE_URL</key>
	<string>https://qrscanner-e7fcb.firebaseio.com</string>
</dict>
</plist>